#main {
    display: grid;
    width:100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 9fr 17fr;
    grid-template-areas:
        "nav nav"   
        "hd hd"
        "sc as";
}

body {
    margin: 0;
}



header {
grid-area: hd;
background-image: url(../misc/header.jpg);
background-repeat: no-repeat;
background-size:cover;
background-position-y:-400px;

display: flex;

align-items: center;
justify-content: center;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    


    grid-area: nav;
    background-color: yellowgreen;
}
section {
    grid-area:sc;
    background-color: aqua;
}

aside {
    grid-area:as;
    background-color: aquamarine;
}